@charset "utf-8";

$link: #1f70db;
// $body-background-color: #2e2e2e;
$body-background-color: #282c34;

@import "../bulma/bulma.sass";

.content > p > code, .content > p > a > code, .content > p > i > code, .content > ul > li > code {
    background-color: #3a3a3a;
    border-radius: 5px;
    color: white;
}

.content blockquote {
    background-color: #3a3a3a;
    border-left: none;
}

.content h1, .content h2, .content h3, .content h4, .content h5 {
    color: #f5f5f5;
}
