{% extends "base.html" %}

{% block title %}{{ page.title }}{% endblock %}
{% block description %}{{ page.description }}{% endblock %}
{% block page %}blog{% endblock %}

{% block meta %}
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ page.title }}" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ page.permalink }}" />
{% endblock %}

{% block content %}
    <div class="is-size-3">{{ page.title }}</div>
    <div class="is-size-5">{{ page.description }}</div>
    <div class="level is-mobile is-size-5 is-family-monospace">
        <div class="level-left">
            <div class="level-item">{{ page.date | date(format="%Y-%m-%d") }}</div>
            {% if page.taxonomies["tags"] %}
            {% for tag in page.taxonomies["tags"] %}
                <div class="level-item"><a href="/tags/{{ tag }}">#{{ tag }}</a></div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="content is-medium mt-4">
        {{ page.content | safe }}
    </div>
{% endblock %}
