{% extends "base.html" %}

{% block title %}nickmonad | {{ section.title }}{% endblock %}
{% block description %}{{ section.description }}{% endblock %}
{% block page %}{{ section.title }}{% endblock %}

{% block content %}
    <article class="max-w-none prose prose-lg prose-zinc prose-code:overflow-x-auto prose-pre:overflow-x-auto prose-code:before:content-none prose-code:after:content-none prose-p:leading-relaxed prose-a:font-bold prose-a:underline prose-a:underline-offset-4 prose-a:decoration-2 prose-a:decoration-sky-700 prose-pre:bg-zinc-200 prose-pre:text-zinc-800 dark:prose-invert dark:prose-pre:bg-zinc-600 dark:prose-pre:text-white">
        {{ section.content | safe }}
    </article>
{% endblock %}
